body{
  background-color: #000000;
  color: #caedff;
}
main{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pixi-stage{
  width: 500px;
  height: 300px;
}

.values, .symbol-selector{
  max-width: 600px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  flex-wrap: wrap;
}